{% extends "base.html" %}
{% block content %}
<style type="text/css">
    textarea {
        width: 100%;
    }
    input{
        width: 30%;
    }
</style>
    <div class="alert alert-light" role="alert" style="padding: 1%; margin:3%; margin-top: 1%;">
    <p></p>
    <h1>Добавьте запись!</h1><br>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
            <h4>{{ form.pub_time.label }}</h4><br>
            {% for error in form.pub_time.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}

            <h4>{{ form.title.label }}</h4>
            {{ form.title }}<br>
            {% for error in form.title.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endfor %}
    <p>
	<h4>
        {{ form.news_text.label }}
    </h4>
    {{ form.news_text }}<br>
    {% for error in form.news_text.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% endfor %}
    </p>
    <p>
    <h4>
        {{ form.comments.label }}
    </h4>
        {{ form.comments }}<br>
        {% for error in form.comments.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </p>
	<p>
    {{ form.status.label }}<br>
    {{ form.status }}<br>
    {% for error in form.status.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
    </form>
    </div>
{% endblock %}