{% extends "base.html" %}
 
{% block content %}
    <div class="alert alert-light" role="alert" style="padding: 1%; margin:5%">
    <p></p>
    <h1>Добавьте рецепт</h1><br>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
            <h4>{{ form.recepie_name.label }}<h4>
            {{ form.recepie_name }}<br>
            {% for error in form.recepie_name.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
	<div class="row">
    	<div class="col-md-6">
        <p>
            {{ form.recepie_text.label }}<br>
            {{ form.recepie_text }}<br>
            {% for error in form.recepie_text.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
    	</div>
    	<div class="col-md-6">
        <p>
            {{ form.recepie_kals.label }}<br>
            {{ form.recepie_kals }}<br>
            {% for error in form.recepie_kals.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
    	</div>
	</div>
        <p>{{ form.submit() }}</p>
    </form>
    </div>
{% endblock %}