<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>TattleCrime</title>
</head>
    <style>
        .navbar-custom {
            background-color: #440306;
        }
        /* change the brand and text color */
        .navbar-custom .navbar-brand,
        .navbar-custom .navbar-text {
            color: rgba(255,255,255,.8);
            font-size: 100% !important;
            font-family: "Times New Roman", Times, serif !important;
        }
    </style>
  <body style="background-image: url(/static/img/banner.jpg);">
    <header>
      <nav class="navbar navbar-expand-sm navbar-custom">
          <h1><a class="navbar-brand" href="/recepies">Tattle Crime</a></h1>
      </nav>
    </header>
    <!-- Begin page content -->
    <main role="main" class="container" style="margin: 0px; margin-top: 1%; padding: 0px;">
        {% if "username" in session %}
        <div class="row" style="position:absolute; width: 100%;">
            <div class="col-md-2" style="background-color: #440306; margin-bottom: 1%; padding: 2%;">
                    <h1><a class="navbar-brand" href="/logout">{{session['username']}} (Выйти)</a></h1>
                    <h1><a class="navbar-brand" href="/crimes">Последние новости</a></h1>
                    <h1><a class="navbar-brand" href="/index">Ваши заметки</a></h1>
                    <h1><a class="navbar-brand" href="/archive">Архив</a></h1>
                    <h1><a class="navbar-brand" href="/info">О нас</a></h1>
            </div>
        {% endif %}
            <div class="col-md-10">
                {% block content %}{% endblock %}
            </div>
        </div>
    </main>
  </body>
</html>