{% extends "base.html" %}

{% block content %}
<div class="alert alert-light" role="alert">
<a href="/add_crime">Хотите добавить запись?</a>
</div>
{% for item in crimes %}
	<div style="background-color: rgb(255, 255, 255); padding: 3%; margin: 1%; border: 4px double black;">
		<h1 style="color: rgb(100, 0, 5 );">{{item[0]}}</h1>
		<h2 >{{item[2]}}</h2>
		<p style="text-indent: 20px;">{{item[1]}}</p>
		<img src="/static/img/{{ item[4] }}" style="width:100%">
		<p>Автор: {{item[5]}}</p>
		<p>Понравилось: {{item[3]}} <a href="/like_act/{{item[6]}}">&#9825;</a></p>
		</div>
	</div>
{% endfor %}
{% endblock %}