{% extends "base.html" %}

{% block content %}
<div class="alert alert-light" role="alert">
<a href="/add_news">Добавьте новую запись!</a>
</div>
{% for item in news %}
    <div class="alert alert-light" role="alert" style="padding:1%; margin-top:3%;">
	<h2>{{item[2]}}</h2>
	<h3>{{item[1]}}</h3>
	<table class="table table-bordered" style="width: 100%">
		<thead>
			<tr class="table-active">
				<th scope="col" style="text-align: center;">Текст</th>
				<th scope="col" style="text-align: center;">Комментарии</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<p style="text-indent: 20px;">{{ item[3] }}</p>
				</td>
				<td>
					<p style="color: red;">{{ item[4] }}</p>
				</td>
			</tr>
		</tbody>
	</table>
	<p>
		Статус: <a style="color: red">{{ item[5] }}</a>
	</p>
	<a href="/delete_news/{{item[0]}}">Удалить запись</a><br>
	<a href="/update_news/{{item[0]}}">Редактировать запись</a>
	</div>
{% endfor %}
{% endblock %}