{% extends "base.html" %}

{% block content %}
<div class="alert alert-light" role="alert">
	<h1>Кто мы такие и зачем мы здесь?</h1>
	<p>Привет, жители Балтимора.</p>
	<p>Прежде всего я хочу пожелать всем хорошего вечера и сказать пару слов о моем новом проекте. После шоу мы все оставили много вопросов без ответа. И я поняла, что моя работа в области журналистики нужна сейчас как никогда. Я хочу верить, что мой сайт поможет нам найти виновника во всех этих ужасных преступлениях и заставить его понести заслуженное наказание.</p>
	<p><img src="/static/img/add_news.jpg" width="50%" alt="Форма добавления записи"></p>
	<p>P.S. я хотела бы добавить, что мы здесь вне пространства и времени, так что вы можете говорить о любом событии или моменте из шоу, мы опубликуем все. Это может быть в форме интервью, которое я создаю и публикую, или просто сообщая о некоторых новостях или просто интересных записях, цитатах, мыслях, фотографиях.</p>
	<p>Спасибо за Ваше внимание.</p>
	<p>С уважением, Фредди Лаундс.</p>
	</div>
{% endblock %}