{% extends "base.html" %}

{% block content %}
<div class="alert alert-light" role="alert">
	<h1>Кто мы такие и зачем мы здесь?</h1>
	<p>Дневник создан для того, чтобы вы могли фиксировать информацию об употреблённой пище и калориях в ней в удобной форме,
	а также отслеживать отношение общего количества калорий к вашему индивидуальному РСК.</p>
	<p>РСК (суточная норма калорий) расчитывается при регистрации и зависит от вашего возраста, веса и роста.</p>
	<p>В форме вы можете заполнить всю информацию о приёмах пищи за день. Все ваши записи вы можете посмотреть на стартовой странице,
	где будет показана доля употреблённых калорий от РСК и некоторые комментарии о вашем состоянии.</p>
	<p><img src="/static/img/add_news.jpg" width="30%" alt="Форма добавления записи"></p>
	<p>Если вы хотели бы поделиться с пользователями рецептом ПП-блюд, или посмотреть такие рецепты, перейдите на вкладку "Книга рецептов"</p>
</div>
{% endblock %}