{% extends "base.html" %}

{% block content %}
<div class="alert alert-light" role="alert">
<a href="/add_recepie">Хотите добавить запись?</a>
</div>
<div class="alert alert-light" role="alert" style="padding:1%; margin-top:3%">
<table class="table table-bordered" style="position: relative;">
<thead>
	<tr class="table-active">
	<th scope="col">Название</th>
	<th scope="col">Описание</th>
	<th scope="col">Количество калорий в 100 г.</th>
	<th scope="col">Создатель рецепта</th>
</tr>
</thead>
<tbody>
{% for item in recepies %}
    	 <tr class="table-light">
      		<td>{{item[0]}}</td>
		<td>{{item[1]}}</td>
		<td>{{item[2]}}</td>
		<td>{{item[3]}}</td>
    	 </tr>
{% endfor %}
</tbody>
</table>
</div>
{% endblock %}